:root{
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --tertiary-color: #F9FF00;
    --disabled-color: #353131;
    --font-family: monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 80%;
    margin: auto;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__nav{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 3%;
}

.header__nav__item{
    text-decoration: none;
    text-align: center;
    color: var(--secondary-color);
    padding: 16px 0;
    border-radius: 8px;
    border: 3px solid var(--tertiary-color);
    width: 100%;
    
}

.header__nav__item.dayFalse{
    background-color: var(--disabled-color);
}

.header__nav__item.dayFalse:hover{
    cursor:no-drop;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 5%;
    font-size: 16px;
    font-family: var(--font-family);
    gap: 2.5rem;
    align-items: center;
}

.main__title{
    text-align: center;
}

.main__texto{
    font-size: 24px;
}

.main__contain{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.main__contain__resolution_btn{
    border: 3px solid var(--tertiary-color);
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 20%;
    min-width: 200px;
    padding: 16px 0;
    font-family: var(--font-family);
}

.main__contain__resolution_btn:hover{
    cursor: pointer;
    background-color: var(--disabled-color);
}

.main__contain__items{
    padding-left: 3.5rem;
}

/*----------------- RESPONSIVE-------------- */

@media (width <= 1200px){
    .main{
        font-size: 14px;
    }
    .main__title{
        font-size: 36px;
    }
    .main__texto{
        font-size: 24px;
    }
}

@media (width <= 1000px){
    .main{
        font-size: 12px;
    }
}

@media (width <= 900px){
    .main{
        font-size: 10px;
    }
}

@media (width <= 750px){
    .main{
        font-size: 8px;
    }
}

@media (width <= 630px){
    .main{
        font-size: 7px;
    }


}